<!DOCTYPE html>
{% load static %}
<html>

<head>
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'convertors/style.css'  %}">
</head>

<body>
    <header>
        <div class="container ">
            <nav class="navbar navbar-expand-lg navbar-light  ">
                <a class="navbar-brand" href="#">
                    <img src="{% static 'convertors/CGLOGO.png'  %}" class="rounded-circle" height="50" alt="">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse " id="navbarTogglerDemo02">
                    <ul class="navbar-nav ml-5 ">
                        <li class="nav-item">
                            <a class="nav-link font-weight-bold px-4" href="{% url 'index' %}">Home </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link font-weight-bold px-4" href="#">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link font-weight-bold px-4" href="{% url 'convert'  %}">Convertors</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link font-weight-bold px-4" href="{% url 'generators:gensis'  %}">Generators</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    <section id="app">
        <div class="container py-5">
            <div class="card-deck " >
                <div class="card shadow-lg  rounded text-center"  >
                    <img src="{% static 'convertors/fileconimg.png'  %}" class="card-img-top mt-4 p-3" alt="...">
                    <div class="card-body" >
                    
                        <h5 class="card-title text-monospace font-italic font-weight-bold">Rank 1 -- Ilovepdf</h5>
                        <p class="card-text">Converting every files and easy to understang    </p>
                        <a href="https://www.ilovepdf.com/" target="_blank" class="btn btn-outline-warning rounded-pill p-2 px-3" @click="Conhtml()">Click To Convert</a>
                    </div>
                </div>
                <div class="card shadow-lg  rounded text-center ">
                    <img src="{% static 'convertors/fileconimg1.png'  %}" class="card-img-top mt-4 p-4" alt="...">
                    <div class="card-body pt-5">
                       
                        <h5 class="card-title text-monospace font-italic font-weight-bold">Rank 2 -- hipdf </h5>
                        <p class="card-text">Provide quick way to convert any file  </p>
                        <a href="https://www.hipdf.com/" target="_blank" class="btn btn-outline-warning rounded-pill p-2 px-3">Click To Convert</a>
                    </div>
                </div>
                <div class="card shadow-lg  rounded text-center">
                    <img src="{% static 'convertors/fileconimg2.png'  %}" class="card-img-top" alt="...">
                    <div class="card-body">
                      
                        <h5 class="card-title text-monospace font-italic font-weight-bold pt-5">Rank 3 -- smallpdf</h5>
                        <p class="card-text">Best For Small Size Pdf  </p>
                        <a href="https://smallpdf.com/" target="_blank" class="btn btn-outline-warning rounded-pill p-2 px-3">Click To Convert</a>
                    </div>
                </div>
            </div>
        </div>
        
 
 
       
    </section>
         
</body>

</html>