{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>thermo </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" />
</head>

<body>
    <header>
        <div class="container ">
            <nav class="navbar navbar-expand-lg navbar-light  ">
                <a class="navbar-brand" href="#">
                    <img src="{% static 'convertors/CGLOGO.png'  %}" class="rounded-circle" height="50" alt="">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse " id="navbarTogglerDemo02">
                    <ul class="navbar-nav ml-5 ">
                        <li class="nav-item">
                            <a class="nav-link font-weight-bold px-4" href="{% url 'index' %}">Home </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link font-weight-bold px-4" href="#">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link font-weight-bold px-4" href="{% url 'convert'  %}">Convertors</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link font-weight-bold px-4" href="{% url 'generators:gensis'  %}">Generators</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    <div class="container">
    	<h3 class="text-center text-monospace p-4  font-weight-bold bg-info mt-2 rounded">Thermo  Convertor</h3>
    	<hr class="pb-4">
    	
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <input class="form-control" type="number" placeholder="Total Marks" id="tmarks" required>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <select class="form-control" id="Selection1">
                        <option value="Celsius">Celsius</option>
                        <option value="Fahrenheit">Fahrenheit</option>
                        <option value="Kelvin">Kelvin</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <select class="form-control" id="Selection2">
                        <option value="Celsius">Celsius</option>
                        <option value="Fahrenheit">Fahrenheit</option>
                        <option value="Kelvin">Kelvin</option>
                    </select>
                </div>
            </div>
        </div>

        <div style="float: right;">
                        <button type="submit"   onclick="getOption()" class="btn btn-warning  rounded-pill mt-3 py-2 px-5 ">Convert</button>
                    </div>
      
        <div class="row pt-5">
            <div class="col-sm-6">
                <div class="col-">
                    <p class="font-weight-bold shadow p-3 text-center" id="evalue"></p>
                </div>
                <div class="col-">
                    <p class="font-weight-bold shadow p-3 text-center" id="ename"></p>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="col-">
                    <p class="font-weight-bold shadow p-3 text-center" id="e1value"></p>
                </div>
                <div class="col-">
                    <p class="font-weight-bold shadow p-3 text-center" id="e1name"></p>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
    function getOption() {

        var e = document.getElementById("Selection1").value;
        var e1 = document.getElementById("Selection2").value;
        var amt = 0;
        if (e == 'Celsius' && e1 == 'Fahrenheit') {

            var amt = document.getElementById("tmarks").value;
            document.getElementById('evalue').innerHTML = amt;
            document.getElementById('e1value').innerHTML = (amt * 9 / 5) + 32 + 'F';
            document.getElementById('ename').innerHTML = e;
            document.getElementById('e1name').innerHTML = e1;

        } else if (e == 'Celsius' && e1 == 'Kelvin') {

           var amt = document.getElementById("tmarks").value;
            document.getElementById('evalue').innerHTML = amt;
            document.getElementById('e1value').innerHTML = amt + 273.15 + 'K';
            document.getElementById('ename').innerHTML = e;
            document.getElementById('e1name').innerHTML = e1;

        } else if (e == 'Fahrenheit' && e1 == 'Celsius') {

           var amt = document.getElementById("tmarks").value;
            document.getElementById('evalue').innerHTML = amt;
            document.getElementById('e1value').innerHTML = (amt - 32) * 5 / 9 + 'C';
            document.getElementById('ename').innerHTML = e;
            document.getElementById('e1name').innerHTML = e1;

        } else if (e == 'Fahrenheit' && e1 == 'Kelvin') {

           var amt = document.getElementById("tmarks").value;
            document.getElementById('evalue').innerHTML = amt;
            document.getElementById('e1value').innerHTML = (amt - 32) * 5 / 9 + 273.15 + 'K';
            document.getElementById('ename').innerHTML = e;
            document.getElementById('e1name').innerHTML = e1;

        } else if (e == 'Kelvin' && e1 == 'Celsius') {

            var amt = document.getElementById("tmarks").value;
            document.getElementById('evalue').innerHTML = amt;
            document.getElementById('e1value').innerHTML = amt - 273.15 + 'C';
            document.getElementById('ename').innerHTML = e;
            document.getElementById('e1name').innerHTML = e1;

        } else if (e == 'Kelvin' && e1 == 'Fahrenheit') {

            var amt = document.getElementById("tmarks").value;
            document.getElementById('evalue').innerHTML = amt;
            document.getElementById('e1value').innerHTML = (amt - 273.15) * 9 / 5 + 32 + 'F';
            document.getElementById('ename').innerHTML = e;
            document.getElementById('e1name').innerHTML = e1;

        } else {
            document.getElementById('evalue').innerHTML = amt;
            document.getElementById('e1value').innerHTML = 'Default Value';
            document.getElementById('ename').innerHTML = e;
            document.getElementById('e1name').innerHTML = e1;
        }

    }
    </script>
</body>

</html>